.feature-box{
    background-color: rgba($color: #fff, $alpha: 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
    transition: transform .3s;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 35rem;
    @include respond(tab-port){
        margin-bottom: 2rem;
      }
      @include respond(phone){
        margin-bottom: 1.5rem;
      }
    

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right ,$color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;
        letter-spacing: 2px;
    }
    &__text{
        font-size: 1.4rem;

    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }

}